## Customer Churn Prediction

In [250]:
import pandas as pd
from datetime import datetime

In [251]:
raw_data_ = pd.read_csv('data/DS_CaseStudy_Churn_Pred_Data.csv')

In [253]:
raw_data = raw_data_.copy()

In [69]:
raw_data.head()

,delay,created_date,pickup_date,distance,driver_rating,fare,discount,payment_method,promocode,taximodelid,travel_status,trip_fare,profile_created,status_description,pre_booked,passengerid,tripid,created_date_date_time
0,NaN,2019-08-09,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1,12,NaN,20170223,Unavailable,0,107206,7542464,2019-08-09
1,8.38,2019-07-01,20190701.0,16.49,NaN,676.13,0.0,1.0,NaN,1,1,676.13,20180201,Completed,0,123034,6044316,2019-07-01
2,16.45,2019-08-30,20190830.0,14.39,NaN,836.63,0.0,1.0,NaN,2,1,836.63,20180905,Completed,0,201136,1959290,2019-08-30
3,NaN,2019-07-09,NaN,NaN,NaN,NaN,NaN,1.0,lpp42,1,12,NaN,20180113,Unavailable,0,403293,1250879,2019-07-09
4,NaN,2019-07-18,NaN,NaN,NaN,NaN,NaN,1.0,abac,4,12,NaN,20190702,Unavailable,0,448530,884375,2019-07-18

In [353]:
raw_data.shape

(9004901, 18)

In [351]:
print(len(raw_data['passengerid'].unique()))

518744

In [254]:
raw_data['created_date'] = pd.to_datetime(raw_data['created_date'].astype(str))

In [255]:
raw_data['month'] = raw_data['created_date'].dt.month

In [256]:
raw_data['profile_created'] = pd.to_datetime(raw_data['profile_created'].astype(str))

In [308]:
raw_data['month'] = raw_data['month'].astype(str)

In [86]:
agg_pasenger_month = raw_data.groupby(['passengerid','month']).agg({'month' : {'count':'count'}})
agg_pasenger_month = pd.DataFrame(agg_pasenger_month).reset_index(col_level=1)    
agg_pasenger_month.columns = agg_pasenger_month.columns.get_level_values(1)

In [87]:
agg_pasenger_month.head()

   passengerid month  count
0            1     7     10
1            2     6      3
2            2     7      2
3            2     8      2
4            3     7      1

In [88]:
agg_pasenger_month = agg_pasenger_month.pivot(index='passengerid', columns='month', values='count').reset_index()
agg_pasenger_month= agg_pasenger_month.rename_axis(None, axis=1)

In [350]:
agg_pasenger_month.head()

   passengerid    6     7     8
0            1  NaN  10.0   NaN
1            2  3.0   2.0   2.0
2            3  NaN   1.0   NaN
3            4  3.0   NaN   1.0
4            5  1.0   NaN  16.0

In [93]:
serie_6 = pd.notnull(agg_pasenger_month['6'])
df_6 = agg_pasenger_month[serie_6]

serie_7 = pd.notnull(agg_pasenger_month['7'])
df_7 = agg_pasenger_month[serie_7]
serie_8 = pd.notnull(agg_pasenger_month['8'])
df_8 = agg_pasenger_month[serie_8]

In [95]:
print(df_6.shape)
print(df_7.shape)
print(df_8.shape)

(312834, 4)
(327451, 4)
(337241, 4)

In [102]:
set_6 = list(df_6['passengerid'])
set_7 = list(df_7['passengerid'])
set_8 = list(df_8['passengerid'])
set_6 = set(set_6)
set_7 = set(set_7)
set_8 = set(set_8)

In [103]:
set_6_int_set_7 = set_6.intersection(set_7)
set_6_int_set_8 = set_6.intersection(set_8)
set_7_int_set_8 = set_7.intersection(set_8)
set_6_int_set_7_int_set_8 = set_6.intersection(set_7,set_8)

In [105]:
print(len(set_6_int_set_7))
print(len(set_6_int_set_8))
print(len(set_7_int_set_8))
print(len(set_6_int_set_7_int_set_8))

211324
195544
219779
167865